<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
</head>

<body>
<div  style="background-color: mediumspringgreen" class="jumbotron">
    <div class="container">
        <h1 class="display-3">Course Registration System</h1>
        <hr class="my-4"/>
        <p class="lead" th:if="${param.error}">Invalid username and password.</p>
        <p class="lead" th:if="${param.logout}">You have been logged out.</p>
    </div>
</div>

<div class="container">
    <form th:action="@{/login}" method="post">

        <div class="form-group align-items-center">
            <label for="titleDanish">User name:</label>
            <input type="text" class="form-control" id="titleDanish" name="username" required="true" />
    </div>
        <div class="form-group">
            <label for="titleEnglish">Password:</label>
            <input type="password" class="form-control" id="titleEnglish" name="password" required="true" />
    </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

    </form>


</div>
<br/>

<div class="jumbotron fixed-bottom">
    <div class="container">
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>